/* br {
    font-size: 2vw;
} */

.container {
  margin-top: 1%;
}

#graph {
  margin-top: 0.5%;
  /* margin-right: 1.45%; */
  position: relative;
  height: 35vw;
}

#graphdemo {
  margin-top: 0.5%;
  /* margin-right: 1.45%; */
  position: relative;
  height: 47vw;
}

#legend {
  position: absolute;
}

#legend_edge {
  position: relative;
  float: right;
}

#demo_edge {
  float: right;
  position: relative;
}

.legend .skyblue {
  background-color: aqua
}

.legend .violet {
  background-color: darkblue
}

.legend .blue {
  background-color: #2C9AD1
}

.legend .grey_edge {
  background-color: #808080;
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}

.legend .black_edge {
  background-color: black;
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.7%;
  height: 0.35vw;
  border: 0vw solid black;
}

#comments {
  position: relative;
  margin-top: 0.6vw;
  left: 35%;
  height: 6vh;
}

#comments-demo {
  position: relative;
  margin-top: 0.6vw;
  left: 35%;
  height: 20vh;
}

#comments_que {
  position: relative;
  margin-top: 10vw;
  left: 35%;
  height: 6vh;
}

.buttons_practice {
  margin-top: 10%;
}

.buttons {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.buttons button {
  z-index: 1;
}

#ranger {
  margin-top: 1.5%;
  position: relative;
  /* font-size: 1.7vw; */
  width: 93%;
  z-index: 1;
  margin-left: 20%;
}

.slider_input {
  width: 10%;
}


/* for dropping instruction box  */

.instructions-box {
  max-height: 70px;
  overflow: hidden;
  transition: all .5s ease;
}

.instructions-box.expand {
  max-height: 400px;
}

.v-instruction-container {
  border: .2rem solid #97d23d;
  justify-content: flex-start;
}



/* observation table */

.success-table {
  font-size: 1rem;
  color: rgb(31, 170, 31);
  font-weight: bold;
  height: 35vw;

}

.failure-table {
  font-size: 1rem;
  color: rgb(228, 23, 23);
  font-weight: bold;
}

.bold-table {
  font-weight: bold;
}


.play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-layout {
  text-align: right;
}

.button-layout-practice {
  text-align: center;
  margin-bottom: 5%;
}

.slider-layout {
  text-align: left;
}

.play-pause>div {
  flex: 1;
}

.button-input {
  background-color: #5b83e7;
  border: none;
  color: white;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  background-color: white;
  border-radius: 2vw;
  border-style: solid;
  /* border-width: 1px; */
  border-color: rgb(62, 142, 208);
  background-color: rgb(62, 142, 208);
  /* position: absolute; */
  /* left: 45%;
	top: 70%;
	height: 6vh;
	width: 11vw; */
  transition: background-color 0.2s ease-in-out;
}


.button-input,
.slider_input {
  margin-right: 5px;
}

@media (max-width: 700px) {
  .play-pause {
    flex-direction: column;
  }

  .play-pause>div {
    width: 100%;
  }

  .button-layout {
    text-align: center;
  }

  .slider-layout {
    text-align: center;
    margin-top: 3%;
  }
}